name: Deploy Flutter Web to GitHub Pages

on:
  push:
    branches:
      - main
    paths:
      - 'lib/**'
      - 'web/**'
      - 'pubspec.yaml'
      - '.github/workflows/deploy.yml'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do repositório
        uses: actions/checkout@v3

      - name: Instalar Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.32.7'  # Use a versão que seu projeto requer

      - name: Configurar base href
        run: |
          sed -i 's|<base href="/">|<base href="/andre_e_elisa/">|' web/index.html

      - name: Rodar build do Flutter Web
        run: flutter build web --base-href "/andre_e_elisa/"

      - name: Deploy para o GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: build/web
          publish_branch: gh-pages
          